
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Information branch</h1>

      <div class="mt-4">
        <p><strong>CODE:</strong> <%= @branch.branch_code %></p>
        <p><strong>NAME:</strong> <%= @branch.branch_name %></p>
        <p><strong>CODE:</strong> <%= @branch.company_code %></p>
        <p><strong>NAME:</strong> <%= @branch.company_name %></p>
        <p><strong>ADDRESS:</strong> <%= @branch.address %></p>
        <p><strong>ADDRESS:</strong> <%= @branch.area %></p>
        <p><strong>EMAIL:</strong> <%= @branch.email %></p>
        <p><strong>PHONE:</strong> <%= @branch.phone %></p>
        <p><strong>WEBSITE:</strong> <%= @branch.website %></p>
        <p><strong>STATUS:</strong> <%= @branch.status %></p>
      </div>

      <div class="mt-4">
        <%= link_to 'Back', branches_path, class: "btn btn-secondary" %>
        <%= link_to 'Edit', edit_branch_path(@branch), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


