<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="centered-content">
  <h1>Divisions Managements</h1>

  <div class="form-group row mt-3">
  <%= form_tag(divisions_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Enter your division code' %>
    <%= submit_tag 'Tìm Kiếm' %>
      </div>
  <% end %>
  <table class="division-table">
    <tr>
      <th>Company Name</th>
      <th>Branch Name</th>
      <th>Division Code</th>
      <th>Division Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <% @divisions.each do |division| %>

      <tr <%= @ids&.include?(division.id) ? 'active' : '' %>">
      <td class="center-text"><%=  division.company_name  %></td>
      <td class="center-text"><%=  division.branch_name %></td>
      <td class="center-text"><%=  division.division_code %></td>
      <td class="center-text"><%=  division.division_name %></td>
      <td class="center-text"><%=  division.email  %></td>
      <td class="center-text"><%=  division.phone  %></td>
      <td class="center-text"><%= link_to 'Detail', "/divisions/#{division.id}}" %></td>
      <td class="center-text"><%= button_to 'Delete', division_path(division), method: :delete %></td>
      </tr>
    <% end %>


  </table>
  <div class="form-group row mt-3">
    <button><%= link_to 'ADD DIVISION', new_division_path, class: "form-control" %></button>
  </div>
  <%= link_to 'Quay lại trang chủ', root_path %>
</div>
<%= paginate @divisions, theme: 'twitter-bootstrap-3' %>

<style>
    table{
        background-color: aliceblue;
    }
    table,tr,th,td{
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
    .centered-content {
        text-align: center;
    }
    .student-table {
        margin: 0 auto;
    }

</style>
