
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Information Division</h1>

      <div class="mt-4">
        <p><strong>CODE:</strong> <%= @division.company_code %></p>
        <p><strong>NAME:</strong> <%= @division.company_name %></p>
        <p><strong>CODE:</strong> <%= @division.branch_code %></p>
        <p><strong>NAME:</strong> <%= @division.branch_name %></p>
        <p><strong>CODE:</strong> <%= @division.division_code %></p>
        <p><strong>NAME:</strong> <%= @division.division_name %></p>
        <p><strong>ADDRESS:</strong> <%= @division.address %></p>
        <p><strong>CODE:</strong> <%= @division.area %></p>
        <p><strong>EMAIL:</strong> <%= @division.email %></p>
        <p><strong>PHONE:</strong> <%= @division.phone %></p>

      </div>

      <div class="mt-4">
        <%= link_to 'Back', divisions_path, class: "btn btn-secondary" %>
        <%= link_to 'Edit', edit_division_path(@division), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


