<h1> COMPANY MANAGEMENT</h1>
<%= link_to 'List companies', companies_path %> |
<%= link_to 'List branches', branches_path %> |
<%= link_to 'List divisions', divisions_path %> |
<%= link_to 'Quay lại trang Login', login_path %> |

<%= link_to "Đăng xuất", login_path, method: :delete %>







