<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-4">
        <div class="card-header">
          <h1 class="card-title">Company Information</h1>
        </div>
        <div class="card-body">
          <%= form_with(model: @company, url: update_avatar_company_path, local: true, method: :put, html: { multipart: true }) do |form| %>
            <div class="form-group">
              <%= form.label :avatar, "Upload Avatar" %>
              <%= form.file_field :avatar, class: "form-control-file" %>
            </div>

            <%= form.submit "Save", class: "btn btn-primary mt-3" %>
          <% end %>

          <div class="mt-4">
            <% if @company.avatar.attached? %>
              <% @company.avatar.each do |avatar| %>
                <div class="mb-4 text-center">
                  <%= image_tag url_for(avatar), class: "avatar img-thumbnail" %>
                  <%= form_tag remove_avatar_company_path(@company), method: :delete, data: { confirm: "Are you sure you want to remove the avatar?" } do %>
                    <%= submit_tag "Remove Avatar", class: "btn btn-danger mt-2" %>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <p class="text-center">No avatar uploaded yet.</p>
            <% end %>
          </div>

          <div class="mt-4">
            <p><strong>Company Name:</strong> <%= @company.company_name %></p>
            <p><strong>Address:</strong> <%= @company.address %></p>
            <p><strong>Email:</strong> <%= @company.email %></p>
            <p><strong>Phone:</strong> <%= @company.phone %></p>
            <p><strong>Website:</strong> <%= @company.website %></p>
            <p><strong>Status:</strong> <%= @company.status %></p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Back', companies_path, class: "btn btn-secondary me-2" %>
          <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    .avatar {
        width: 300px; /* Đặt chiều rộng của avatar */
        height: 300px; /* Đặt chiều cao của avatar */
    }
</style>