<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-4">
        <div class="card-header">
          <h1 class="card-title">Company Information</h1>
        </div>
        <div class="card-body">




          <div class="mt-4">
            <p><strong>Company Name:</strong> <%= @company.company_name %></p>
            <p><strong>Address:</strong> <%= @company.address %></p>
            <p><strong>Email:</strong> <%= @company.email %></p>
            <p><strong>Phone:</strong> <%= @company.phone %></p>
            <p><strong>Website:</strong> <%= @company.website %></p>
            <p><strong>Status:</strong> <%= @company.status %></p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Back', companies_path, class: "btn btn-secondary me-2" %>
          <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
