<h1>Create Company Management</h1>

<%= form_with(model: @company_management, url: company_managements_path, method: :post) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit 'Create Company Management' %>
<% end %>